h1{
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.blockquestion{
    margin: 20px;
    margin-left: 100px;
}
.namequestion{
    margin-bottom: 10px;
}
.questionTitle{
    margin-left: 10px;
}
button{
    margin-left: 100px;
    background-color: #CFE2F3;
    border-radius: 0;
    font-size: 15px;
    border: solid 1px black;
    line-height: 25px;

}